In [1]:
import pandas as pd
import textcleaning
import os

Wczytanie danych

In [2]:
datasource_path = '../datasets/BBC News Summary/Summaries'
business_path = datasource_path + '/business'
entertainment_path = datasource_path + '/entertainment'
politics_path = datasource_path + '/politics'
sport_path = datasource_path + '/sport'
tech_path = datasource_path + '/tech'

business_summaries = [
	open(business_path + '/' + filepath).read() for filepath in os.listdir(business_path)
]
entertainment_summaries = [
	open(entertainment_path + '/' + filepath).read() for filepath in os.listdir(entertainment_path)
]
politics_summaries = [
	open(politics_path + '/' + filepath).read() for filepath in os.listdir(politics_path)
]
sport_summaries = [
	open(sport_path + '/' + filepath).read() for filepath in os.listdir(sport_path)
]
tech_summaries = [
	open(tech_path + '/' + filepath).read() for filepath in os.listdir(tech_path)
]

In [4]:
summaries = pd.DataFrame(columns=['label', 'summary'])
for summary in business_summaries:
	summaries = summaries.append({'label': 1, 'summary': summary}, ignore_index=True)
for summary in entertainment_summaries:
	summaries = summaries.append({'label': 2, 'summary': summary}, ignore_index=True)
for summary in politics_summaries:
	summaries = summaries.append({'label': 3, 'summary': summary}, ignore_index=True)
for summary in sport_summaries:
	summaries = summaries.append({'label': 4, 'summary': summary}, ignore_index=True)
for summary in tech_summaries:
	summaries = summaries.append({'label': 5, 'summary': summary}, ignore_index=True)

summaries

     label                                            summary
0        1  TimeWarner said fourth quarter sales rose 2% t...
1        1  The dollar has hit its highest level against t...
2        1  Yukos' owner Menatep Group says it will ask Ro...
3        1  Rod Eddington, BA's chief executive, said the ...
4        1  Pernod has reduced the debt it took on to fund...
...    ...                                                ...
2220     5  BT is introducing two initiatives to help beat...
2221     5  A third of them read unsolicited junk e-mail a...
2222     5  This goes to the heart of the European project...
2223     5  Amit Yoran was director of the National Cyber ...
2224     5  He says that in the world of online gaming suc...

[2225 rows x 2 columns]

In [8]:
summaries['length'] = summaries['summary'].apply(len)
summaries.head()

  label                                            summary  length
0     1  TimeWarner said fourth quarter sales rose 2% t...     901
1     1  The dollar has hit its highest level against t...     938
2     1  Yukos' owner Menatep Group says it will ask Ro...     690
3     1  Rod Eddington, BA's chief executive, said the ...    1208
4     1  Pernod has reduced the debt it took on to fund...     629

Czyszczenie danych

In [10]:
summaries['summary_clean_tokens'] = summaries['summary'].apply(textcleaning.clean_text_and_return_tokens)
summaries.head()

,label,summary,length,summary_clean_tokens
0,1,TimeWarner said fourth quarter sales rose 2% t...,901,"[timewarn, said, fourth, quarter, sale, rose, ..."
1,1,The dollar has hit its highest level against t...,938,"[dollar, hit, highest, level, euro, almost, th..."
2,1,Yukos' owner Menatep Group says it will ask Ro...,690,"[yuko, owner, menatep, group, say, ask, rosnef..."
3,1,"Rod Eddington, BA's chief executive, said the ...",1208,"[rod, eddington, bas, chief, execut, said, res..."
4,1,Pernod has reduced the debt it took on to fund...,629,"[pernod, reduc, debt, took, fund, seagram, pur..."

In [11]:
summaries['summary_clean'] = summaries['summary_clean_tokens'].apply(lambda tokens: ' '.join(tokens))
summaries.head()

,label,summary,length,summary_clean_tokens,summary_clean
0,1,TimeWarner said fourth quarter sales rose 2% t...,901,"[timewarn, said, fourth, quarter, sale, rose, ...",timewarn said fourth quarter sale rose fullyea...
1,1,The dollar has hit its highest level against t...,938,"[dollar, hit, highest, level, euro, almost, th...",dollar hit highest level euro almost three mon...
2,1,Yukos' owner Menatep Group says it will ask Ro...,690,"[yuko, owner, menatep, group, say, ask, rosnef...",yuko owner menatep group say ask rosneft repay...
3,1,"Rod Eddington, BA's chief executive, said the ...",1208,"[rod, eddington, bas, chief, execut, said, res...",rod eddington bas chief execut said result res...
4,1,Pernod has reduced the debt it took on to fund...,629,"[pernod, reduc, debt, took, fund, seagram, pur...",pernod reduc debt took fund seagram purchas eu...

Zapisanie wyczyszczonych danych

In [12]:
summaries.to_csv('../cleaned_datasets/news_summaries.csv', sep='\t', index=False, encoding='utf-8')
summaries

,label,summary,length,summary_clean_tokens,summary_clean
0,1,TimeWarner said fourth quarter sales rose 2% t...,901,"[timewarn, said, fourth, quarter, sale, rose, ...",timewarn said fourth quarter sale rose fullyea...
1,1,The dollar has hit its highest level against t...,938,"[dollar, hit, highest, level, euro, almost, th...",dollar hit highest level euro almost three mon...
2,1,Yukos' owner Menatep Group says it will ask Ro...,690,"[yuko, owner, menatep, group, say, ask, rosnef...",yuko owner menatep group say ask rosneft repay...
3,1,"Rod Eddington, BA's chief executive, said the ...",1208,"[rod, eddington, bas, chief, execut, said, res...",rod eddington bas chief execut said result res...
4,1,Pernod has reduced the debt it took on to fund...,629,"[pernod, reduc, debt, took, fund, seagram, pur...",pernod reduc debt took fund seagram purchas eu...
...,...,...,...,...,...
2220,5,BT is introducing two initiatives to help beat...,1174,"[bt, introduc, two, initi, help, beat, rogu, d...",bt introduc two initi help beat rogu dialler s...
2221,5,A third of them read unsolicited junk e-mail a...,805,"[third, read, unsolicit, junk, email, buy, goo...",third read unsolicit junk email buy good servi...
2222,5,This goes to the heart of the European project...,2971,"[goe, heart, european, project, even, softwar,...",goe heart european project even softwar patent...
2223,5,Amit Yoran was director of the National Cyber ...,890,"[yoran, director, nation, cyber, secur, divis,...",yoran director nation cyber secur divis within...
2224,5,He says that in the world of online gaming suc...,8030,"[say, world, onlin, game, behaviour, wasnt, un...",say world onlin game behaviour wasnt unusu lot...