In [1]:
import pandas as pd
import textcleaning

Wczytanie danych

In [5]:
reviews = pd.read_csv('../datasets/Hotel Reviews/tripadvisor_hotel_reviews.csv')
reviews.columns = ['review', 'rating']
reviews = reviews[['rating', 'review']]
reviews = reviews.dropna(how="any", axis=1)
reviews.describe()

             rating
count  20491.000000
mean       3.952223
std        1.233030
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [6]:
reviews['length'] = reviews['review'].apply(len)
reviews.head()

   rating                                             review  length
0       4  nice hotel expensive parking got good deal sta...     593
1       2  ok nothing special charge diamond member hilto...    1689
2       3  nice rooms not 4* experience hotel monaco seat...    1427
3       5  unique, great stay, wonderful time hotel monac...     600
4       5  great stay great stay, went seahawk game aweso...    1281

Czyszczenie danych

In [7]:
reviews['review_clean_tokens'] = reviews['review'].apply(textcleaning.clean_text_and_return_tokens)
reviews.head()

,rating,review,length,review_clean_tokens
0,4,nice hotel expensive parking got good deal sta...,593,"[nice, expens, park, got, good, deal, stay, an..."
1,2,ok nothing special charge diamond member hilto...,1689,"[ok, noth, special, charg, diamond, member, hi..."
2,3,nice rooms not 4* experience hotel monaco seat...,1427,"[nice, room, experi, monaco, seattl, good, nt,..."
3,5,"unique, great stay, wonderful time hotel monac...",600,"[uniqu, great, stay, wonder, time, monaco, loc..."
4,5,"great stay great stay, went seahawk game aweso...",1281,"[great, stay, great, stay, went, seahawk, game..."

In [8]:
reviews['review_clean'] = reviews['review_clean_tokens'].apply(lambda tokens: ' '.join(tokens))
reviews.head()

,rating,review,length,review_clean_tokens,review_clean
0,4,nice hotel expensive parking got good deal sta...,593,"[nice, expens, park, got, good, deal, stay, an...",nice expens park got good deal stay anniversar...
1,2,ok nothing special charge diamond member hilto...,1689,"[ok, noth, special, charg, diamond, member, hi...",ok noth special charg diamond member hilton de...
2,3,nice rooms not 4* experience hotel monaco seat...,1427,"[nice, room, experi, monaco, seattl, good, nt,...",nice room experi monaco seattl good nt levelpo...
3,5,"unique, great stay, wonderful time hotel monac...",600,"[uniqu, great, stay, wonder, time, monaco, loc...",uniqu great stay wonder time monaco locat exce...
4,5,"great stay great stay, went seahawk game aweso...",1281,"[great, stay, great, stay, went, seahawk, game...",great stay great stay went seahawk game awesom...

Zakodowanie etykiet

In [9]:
reviews = reviews.rename(columns={'rating': 'label'})

Zapisanie wyczyszczonych danych

In [10]:
reviews.to_csv('../cleaned_datasets/hotel_reviews.csv', sep='\t', index=False, encoding='utf-8')
reviews

,label,review,length,review_clean_tokens,review_clean
0,4,nice hotel expensive parking got good deal sta...,593,"[nice, expens, park, got, good, deal, stay, an...",nice expens park got good deal stay anniversar...
1,2,ok nothing special charge diamond member hilto...,1689,"[ok, noth, special, charg, diamond, member, hi...",ok noth special charg diamond member hilton de...
2,3,nice rooms not 4* experience hotel monaco seat...,1427,"[nice, room, experi, monaco, seattl, good, nt,...",nice room experi monaco seattl good nt levelpo...
3,5,"unique, great stay, wonderful time hotel monac...",600,"[uniqu, great, stay, wonder, time, monaco, loc...",uniqu great stay wonder time monaco locat exce...
4,5,"great stay great stay, went seahawk game aweso...",1281,"[great, stay, great, stay, went, seahawk, game...",great stay great stay went seahawk game awesom...
...,...,...,...,...,...
20486,5,"best kept secret 3rd time staying charm, not 5...",733,"[best, kept, secret, time, stay, charm, nt, be...",best kept secret time stay charm nt beat time ...
20487,4,great location price view hotel great quick pl...,306,"[great, locat, price, view, great, quick, plac...",great locat price view great quick place sight...
20488,2,"ok just looks nice modern outside, desk staff ...",443,"[ok, look, nice, modern, outsid, desk, staff, ...",ok look nice modern outsid desk staff nt parti...
20489,1,hotel theft ruined vacation hotel opened sept ...,5557,"[theft, ruin, vacat, open, sept, guest, week, ...",theft ruin vacat open sept guest week happi st...
20490,2,"people talking, ca n't believe excellent ratin...",620,"[peopl, talk, nt, believ, excel, rate, nt, yes...",peopl talk nt believ excel rate nt yes patrici...